/* 
----- © Copyright wrseno ----- 
 YT : Sen Tutorial 
 IG : wrzeno_
 
*/

:root
{
    --blue : #2C2546;
    --dark-blue : #1B1535;
    --green : #00EB09;
    --white : #fff;
    --sky : #0ea5e9;
    --pink : #fa0758;
    --red : red;
    --grape : #8134AF;
    --slate : #0f172a;
    --slate-500 : #e2e8f0;
    --background : #ecfeff;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

@media screen and (max-width: 600px) {
    .wrap{
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
    }
    
    .section-payment{
        margin-top: 6rem;
    }
    
    .section-payment__circle{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .section-payment__price{
        color: var(--sky);
        font-size: 15pt;
    }
    
    .section-payment__wrap{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .payment-container__card{
        border: 1px solid var(--slate-500);
        border-radius: 5px 5px 0 0;
        padding-top: 1rem;
        color: var(--slate);
        background-color: var(--background);
    }
    
    .payment-container__card-1{
        border: 1px solid var(--slate-500);
        padding-bottom: 12rem;
        padding-top: 1rem;
        color: var(--slate);
    }
    
    .payment-container__card-2{
        border: 1px solid var(--slate-500);
        border-radius: 0 0 5px 5px;
        padding-bottom: 12rem;
        padding-top: 1rem;
        color: var(--slate);
    }
    
    .payment-container__sub-title{
        margin: 20px;
    }
    
    .payment-container__logo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    
    .container-logo{
        margin-top: 10px;
        border: 1px solid var(--slate-500);
        border-radius: 5px;
        padding: 0.5rem;
        background-color: var(--white);
    }
    
    .instructions-sidebar{
        bottom: 0;
        text-align: center;
    }
    
    .instructions-sidebar__title{
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--sky);
    }

    .container-logo__qris{
        margin-left: 4rem;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .wrap{
        padding-left: 22rem;
        padding-right: 22rem;
        margin: auto;
    }
    
    .section-payment{
        margin-top: 6rem;
    }
    
    .section-payment__circle{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .section-payment__price{
        color: var(--sky);
        font-size: 15pt;
    }
    
    .section-payment__wrap{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .payment-container__card{
        border: 1px solid var(--slate-500);
        border-radius: 5px 5px 0 0;
        padding-top: 1rem;
        color: var(--slate);
        background-color: var(--background);
    }
    
    .payment-container__card-1{
        border: 1px solid var(--slate-500);
        padding-bottom: 12rem;
        padding-top: 1rem;
        color: var(--slate);
    }
    
    .payment-container__card-2{
        border: 1px solid var(--slate-500);
        border-radius: 0 0 5px 5px;
        padding-bottom: 12rem;
        padding-top: 1rem;
        color: var(--slate);
    }
    
    .payment-container__sub-title{
        margin: 20px;
    }
    
    .payment-container__logo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    
    .container-logo{
        margin-top: 10px;
        border: 1px solid var(--slate-500);
        border-radius: 5px;
        padding: 0.5rem;
        background-color: var(--white);
    }
    
    .instructions-sidebar{
        right: 0;
        top: 0;
        position: fixed;
        width: 23%;
        margin-top: 12rem;
    }
    
    .instructions-sidebar__title{
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--sky);
    }

    .container-logo__qris{
        margin-left: 4rem;
        width: 100%;
    }
}
